.header{
  height: 70px;
  width: 100%;
  background-color: #323298;
  position: relative;
  font-size: 15px;
  color: #ffe891;
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer{
  height: 70px;
  width: 100%;
  background-color: #323298;
  position: absolute;
  bottom: 0
}